# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 723a2a6d996f156ba1f9b30084f5c77205f4e4488017d70fa55fb046237a5b9f5b912ad559b0e207917ae3bf1344efb28a33d4eb5253b26a9a1b3ac3cd7189ba

test:
  secret_key_base: b7d975ec0c28f4772972afdf4d6da0aa6574bdd11ad7ef6662f52ef9814e326c29f189c4fdddec00a4935600b80a04e60d685efd30b63bfa386c2de09c77b769

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 723a2a6d996f156ba1f9b30084f5c77205f4e4488017d70fa55fb046237a5b9f5b912ad559b0e207917ae3bf1344efb28a33d4eb5253b26a9a1b3ac3cd7189ba
